{% load avatar_tags %}
{% load sekizai_tags %}
{% load staticfiles %}

{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{% static 'booking/css/booking.css' %}">{% endaddtoblock %}

<h2><a href="{% url 'event_detail' event.id %}">{{ event.name }}</a> 
    {% if event.participants %}
        {% if user.username not in event.participants %}
        <a class="button green" href="{% url 'participant_add' event.id %}">Anmäla dig!</a>
        {% endif %}

    {% else %}
        <a class="button green" href="{% url 'participant_add' event.id %}">Bli den första att anmäla dig!</a>
    {% endif %}</h2>
	<i>{{ event.start_date }} - {{ event.end_date }}</i>
	<p>{{ event.description }}</p>


    <div class="tabs">
        <ul>
            <li><a href="#tabs-all">Alla</a></li>
        {% for date in event.dates %}
            <li><a href="#tabs-{{ date|date:"Y-m-d" }}">{{ date }}</a></li>
        {% endfor %}
        </ul>
        <div class="clear"></div>
        <div class="bordered_box">
            <div id="tabs-all" >
                <div class="content_text"><p>
                {% for participant in event.participant_set.all %}
                    {% if participant.user == user %}
                    <div class="booking_participant myself"><a href="{% url 'participant_update' participant.id %}">{% avatar participant.user %}</a></div>
                    {% else %}
                    <div class="booking_participant">{% avatar participant.user %}</div>
                    {% endif %}
                {% endfor %}

                    <div class="clear"></div>

                </p>
                </div>
            </div>
            {% for this_date in event.dates %}
            <div id="tabs-{{ this_date|date:"Y-m-d" }}">
                <div class="content_text"><p>
                {% for participant in event.participant_set.all %}
                    {% if this_date >= participant.from_date and this_date <= participant.to_date %}
                        {% if participant.user == user %}
                        <div class="booking_participant"><a href="{% url 'participant_update' participant.id %}">{% avatar participant.user %}</a></div>
                        {% else %}
                        <div class="booking_participant">{% avatar participant.user %}</div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                    <div class="clear"></div>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

	<div class="clear"></div>

