{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}</h1>

{% if participant %}
<form action="{% url 'participant_update' participant.id %}">
<h1 class="regular brown bottom_line"><a href="{% url 'event_detail' participant.event.id %}">{{ participant.event.name }}</a></h1>
<p>Du är anmäld på {{ participant.event.name }} mellan <b>{{ participant.from_date }}</b> och <b>{{ participant.to_date }}</b>. Medverkan nivå: {{ participant.level }} <a href="{% url 'participant_update' participant.id %}" class="button blue">Ändra</a> </p>
{% endif %} 

{% endblock %}