{% extends "base.html" %}
{% load avatar_tags %}
{% load account %}


{% block content %}
<h1 class="regular brown bottom_line" >Din Profil</h1>
{% user_display user %}
<li><a href="{% url 'account_change_password' %}">Byt lösenord</a></li>
<li><a href="{% url 'account_set_password' %}">Sätt lösenord</a></li>

<li><a href="{% url 'account_email' %}">Change E-mail</a></li>

<p>Avatar</p>
{% avatar user %}
<ul>
	<li><a href="{% url 'avatar_change' %}">Byt avatar</a></li>
	<li><a href="{% url 'avatar_delete' %}">Tabort avatar</a></li>
</ul>
{% endblock %}
