{% extends "base.html" %}
{% load avatar_tags %}
{% load account %}


{% block content %}
<h1 class="regular brown bottom_line" >Din Profil</h1>
{% user_display user %}
<h1>Admin</h1>
<ul>
	<li><a href="{% url 'account_change_password' %}">Byt lösenord</a></li>
	<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
</ul>

<h1>Avatar</h1>
{% avatar user %}
<ul>
	<li><a href="{% url 'avatar_change' %}">Byt avatar</a></li>
	<li><a href="{% url 'avatar_delete' %}">Tabort avatar</a></li>
</ul>
{% endblock %}
